<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<%= form_with(url: "/tasks") do |form| %>
  <%= form.label :description %>
  <%= form.text_field :description, autocomplete: "off" %>
  <%= form.submit "Create Task" %>
<% end %>
