<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td>
          <%= form_with(url: "/tasks/#{task.id}", method: :delete) do |form| %>
            <%= form.submit "Delete", data: { confirm: "Are you sure?" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<%= form_with(url: "/tasks") do |form| %>
  <%= form.label :description %>
  <%= form.text_field :description, autocomplete: "off" %>
  <%= form.submit "Create Task" %>
<% end %>
